{% extends 'base.html' %} 
{% block title %}Meu Carrinho{% endblock %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>ITENS DO CARRINHO</h4>
            <table>
                <thead>
                    <tr>
                        <th>
                            <th>Codigo</th>
                            <th>Produto</th>
                            <th>Avaliacao</th>
                            <th>Quantidade</th>
                            <th>Subtotal</th>
                            <th>Acao</th>
                        </th>
                    </tr>
                    <tbody>

                    </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>


{% endblock %}